<!DOCTYPE html>
<html>
    <head>
        <title>Chat overview</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div class="header">
            <h3 id="header-title">KTH-chat</h3>
            <p id="header-text">A chat for KTH students!</p>
            <div id="user-div">
                <p id="username-text"></p>
                <Button id="logoutBtn">Logout</button>
            </div>
        </div>
        <!-- The chatroom, all messages are seen here -->
        <div class="connecting">
                    Connecting...
        </div>
        <div id="chat-page">
            <div class="chat-container">
                <div class="leave-room">
                    <a id="leave-btn" href="/chatroomOverview">Leave room</a>
                </div>
                <div class="chat-header">
                    <h2 id="chatroom-name">Room: "roomname here"</h2>
                </div>
                <ul id="messageArea">

                </ul>
                <form id="messageForm" name="messageForm">
                    <div id="message-box">
                        <input type="text" id="message" placeholder="Type a message..." autocomplete="off" maxlength="255"/>
                        <button type="submit" class="primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script src="/js/chat.js"></script>
    </body>
</html>
