<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>KTH-chat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div>Chatroom overview</div>
        <div class="connecting">
            Connecting...
        </div>        
        <!-- The chatroom overview, this is where all the rooms will go! -->
        <div id="chat-rooms" class="hidden">
            <ul id="roomsArea">
                <li style="display: block; width:100%;">
                    <div id="room1" style ="display:inline-block; width:100%;">
                        <h2>Test_room_1</h2>
                        <a name="joinRoom" class="joinRoom" href="/chat" >Join</a>
                    </div>
                </li>
                <li style="display: block; width:100%;">
                    <div id="room2" style ="display:inline-block; width:100%;">
                        <h2>Test_room_2</h2>
                        
                        <a name="joinRoom" class="joinRoom" href="/chat" >Join</a>
                    </div>
                </li>
                <li style="display: block; width:100%;">
                    <div id="room3" style ="display:inline-block; width:100%;">
                        <h2>Test_room_3</h2>
                        
                        <a name="joinRoom" class="joinRoom" href="/chat" >Join</a>
                    </div>
                </li>
            </ul> 
        </div>
                <!-- The chatroom, all messages are seen here -->
        <div id="chat-page" class="hidden">
            <div class="chat-container">
                <div class="leave-room">
                    <button class="leave-btn" type="button">Leave room</button>
                </div>
                <div class="chat-header">
                    <h2>Room: "roomname here"</h2>
                </div>
                <div class="connecting">
                    Connecting...
                </div>
                <ul id="messageArea">

                </ul>
                <form id="messageForm" name="messageForm">
                    <div id="message-box">
                        <input type="text" id="message" placeholder="Type a message..." autocomplete="off"/>
                        <button type="submit" class="primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script src="/js/chatroomOverview.js"></script>
    </body>
</html>
